:root {
    --font-size-1: 12px;
    --font-size-2: 13px;
    --font-size-3: 14px;
    --font-size-4: 19px;
    --font-size-5: 20px;
    --font-size-6: 22px;
    --font-size-7: 27px;
    --font-size-8: 45px;
    --color-gray-8: #e0e1e1;
    --font-family-1: "Century Gothic";
    --font-family-2: "Arial";
    --color-orange-1: #ec8a1b;
    --color-orange-2: #ec891a;

    &.dark {
        --color-gray-1: #ffffff;
        --color-gray-2: #dddddd;
        --color-gray-3: #eaeaea;
        --color-gray-4: #f5f2f2;
        --color-gray-5: #000000;
        --color-gray-6: #1d1d1d;
        --color-gray-7: #bcbcbc;
        --color-gray-9: #d1d1d1;
        --color-gray-10: #cccccc;
        --color-gray-11: #afafaf;
        --color-gray-12: #dddddd;
        --color-gray-13: #f0f0f0;
        --color-gray-14: #cccccc;
        --color-gray-15: #ffffff;
        --color-gray-16: #e0e0e0;
        --gradient-header: linear-gradient(0deg, #e87d31 0%, #ea8b44 50%, #ebc196 100%);
        --gradient-button: linear-gradient(0deg, #b1b1b1 0%, #c6c6c6 100%);
        --gradient-service-box: linear-gradient(0deg, #c7c7c7 0%, #dbdbdb 100%);
        --filter-service-box: drop-shadow(1px 1.732px 1.5px rgba(166, 165, 165, 0.47));
        --filter-content: drop-shadow(1.06px -1.696px 2.5px rgba(200, 200, 200, 0.23));
        --filter-img: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.28));
        --gradient-background: linear-gradient(180deg, rgb(108 108 108) 0%, rgb(0 0 0) 100%);
        --background-white: #2c2c2c;
        --color-white: #000000;
    }

    &.light {
        --color-gray-1: #666565;
        --color-gray-2: #363d40;
        --color-gray-3: #bcbcbc;
        --color-gray-4: #9a9b9c;
        --color-gray-5: #787878;
        --color-gray-6: #7e7e7e;
        --color-gray-7: #666666;
        --color-gray-9: #c6c6c6;
        --color-gray-10: #bebebe;
        --color-gray-11: #675f55;
        --color-gray-12: #e0e0e0;
        --color-gray-13: #eeefef;
        --color-gray-14: #dddddd;
        --color-gray-15: #666665;
        --color-gray-16: #e5e6e5;
        --gradient-header: linear-gradient(0deg, #ef9f46 0%, #f3ab5b 50%, #f4cfa7 100%);
        --gradient-button: linear-gradient(0deg, #d4d3d3 0%, #e9e9e9 100%);
        --gradient-service-box: linear-gradient(0deg, #eaeaea 0%, #eeeeee 100%);
        --filter-service-box: drop-shadow(1px 1.732px 1.5px rgba(197, 196, 196, 0.47));
        --filter-content: drop-shadow(1.06px -1.696px 2.5px rgba(234, 234, 234, 0.23));
        --filter-img: drop-shadow(0 0 2.5px rgba(0, 0, 0, 0.28));
        --gradient-background: linear-gradient(180deg, rgba(228, 228, 228, 1) 0%, rgba(253, 253, 253, 1) 100%);
        --background-white: #ffffff;
        --color-white: #fefefe;
    }
}